---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Employment History</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.employment_history %}
          <p><b>{{ section.title }}</b>, <i>{{ section.company }}</i></p>
          <ul>
            <li><p>{{ section.description }}</p></li>
            <li><p>{{ section.status }}</p></li>
          </ul>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <ul>
            <li><p>{{ section.description }}</p></li>
            <li><p>{{ section.status }}</p></li>
          </ul>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Skills</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.skills %}
          <p class="fw-bold">{{ section.title }}</p>
            <p>{{ section.softwares }}</p>
            <p>{{ section.program_lan }}</p>
            <p>{{ section.skills}}</p>
            <p>{{ section.lang_f}}</p>
            <p>{{ section.lang_l}}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
