---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">About</h3>
    Physics Bachelor Student | Avid Writer | many oceans to visit <br>
    Access my CV for upto date information on my educational and employment history. Bachelor of Physics Student at Universitat Leipzig building my portfolio of interests with one convseration at a time. Let curiosity, literature and courage take me to the peaks of the oceans. 
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/trains_main.jpg" alt="Home" width="100%">
  </div>
</div>
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
  </div>
