---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">General Labs Course</h3>
<div class="row g-5 mb-5">
  {% for x in site.data.settings.science %}
    <div class="col-md-6">
      <h5>{{ x.name }}</h5>
      <p>About: {{ x.description }}</p>
      <p><a href="{{ site.github.url }}/{{ x.url }}">Acess</a></p>
    </div>
    <div class="content-section">
      <div class="iframe-section">
        <iframe class="pdf-frame" src="{{ site.github.url }}/science/labs/{{ x.url }}"></iframe>
      </div>
  {% endfor %}
</div>
