---
layout: default
---

{{ content }}
<head>
  <style>
    body {
      display: flex;
      margin: 0;
    }
  </style>
</head>

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Labs</h3>
    {% for science in site.data.settings.science %}
      <div class="col-md-6" style="flex: 1;padding: 20px;overflow-y: auto;" width="100%" height="512" align="right">
        <h5>{{ science.name }}</h5>
        <p> How Proud I am of this: {{ science.how}}</p>
        <p><a href="{{ site.github.url }}/science/labs/experiment{{ science.number }}">More Info</a></p>
    </div>
    <div style="flex: 2;overflow-y: hidden;">
      <iframe style="display:inline-block;float:left;margin-right:20px;" src="{{ site.github.url }}/science/labs/{{ science.url }}" width="100%" height="512" align="left"></iframe>
    </div>
  </div>
  {% endfor %}
</div>

