---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">University</h3>

{% assign universities = site.data.settings.university %}
{% for university in universities %}
  {% if forloop.first or forloop.index0 | modulo: 2 == 0 %}
    <div class="row g-5 mb-5"> <!-- Start a new row -->
  {% endif %}
  
  <div class="col-md-6">
    <h5>{{ university.name }}</h5>
    <p>Area of Study: {{ university.information }}</p>
    <p>Grade: {{ university.grade }}</p>
    <p><a href="{{ site.github.url }}/university/{{ university.url }}">More info</a></p>
  </div>

  {% if forloop.index0 | modulo: 2 == 1 or forloop.last %}
    </div> <!-- Close the row -->
  {% endif %}
{% endfor %}
