---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">University</h3>

{% assign universities = site.data.settings.university %}
<div class="row g-5 mb-5">
  {% for university in universities %}
    <div class="col-md-6">
      <h5>{{ university.name }}</h5>
      <p>Area of Study: {{ university.information }}</p>
      <p>Grade: {{ university.grade }}</p>
      <p><a href="{{ site.github.url }}/university/{{ university.url }}">More info</a></p>
    </div>

    {% if forloop.index0 | modulo: 2 == 1 and not forloop.last %}
      </div>
      <div class="row g-5 mb-5">
    {% endif %}
  {% endfor %}
</div>
